.wrap{
    width: 600px;
    height: 300px;
    background: silver;

}

.a{
    width: 600px;
    height: 50px;
    background: black;
}
.dio{
    width: 600px;
    height: 200px;
    display: flex;
}
.log {
    width: 100px;
    height: 200px;
    background: brown;
}
.item1 {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;

}
.class1{
    width: 500px;
    height: 100px;
    background: aqua;

}
.class2{
    width: 500px;
    height: 99px;
    background: aquamarine;
}
.end {
    width: 600px;
    height: 50px;
    background: black;
}
