.one{
    width: 600px;
    margin: 0 auto;
}
.header{
    height: 50px;
    background: chartreuse;
}
.header2{
    height: 50px;
    background: blue;
}
.main{
    display: flex;
    flex-direction: row;
    height: 300px;



}
.block1{
    background: brown;
    flex-grow: 3;

}
.block2{
    background: aqua;
    flex-grow: 1;
}
.under{
    background:orchid;
    height: 50px;
}

